<nav x-data="{ isOpen: false }" class="relative shadow bg-gray-800">
  <div
    class="container py-4 px-0 mx-auto md:flex md:justify-between md:items-center"
  >
    <div class="flex items-center justify-between">
      <a href="/">
        <img
          class="w-auto h-6 sm:h-7"
          src="https://merakiui.com/images/logo.svg"
          alt=""
        />
      </a>
      <h3 class="ml-2 text-xl font-medium text-center text-gray-200">
        Employee Review System
      </h3>
    </div>

    <div class="flex flex-col md:flex-row md:mx-6">
      <% if (locals.user){ %> <%if(locals.user.isAdmin){%>
      <a
        class="my-2 transition-colors duration-300 transform text-gray-200 hover:text-blue-400 md:mx-4 md:my-0"
        href="/admin/assignWork"
      >
        Assign Work
      </a>

      <a
        class="my-2 transition-colors duration-300 transform text-gray-200 hover:text-blue-400 md:mx-4 md:my-0"
        href="/admin/view-employee"
      >
        Employees</a
      >

      <a
        class="my-2 transition-colors duration-300 transform text-gray-200 hover:text-blue-400 md:mx-4 md:my-0"
        href="/admin/add-employee"
        >Add Employee</a
      >
      <a
        class="my-2 transition-colors duration-300 transform text-gray-200 hover:text-blue-400 md:mx-4 md:my-0"
        href="/users/sign-out"
      >
        LogOut
      </a>
      <a
        href="/"
        class="my-2 transition-colors duration-300 transform text-gray-200 hover:text-blue-400 md:mx-4 md:my-0"
        ><%= locals.user.name%>
      </a>
      <%}else{%>
      <a
        class="my-2 transition-colors duration-300 transform text-gray-200 hover:text-blue-400 md:mx-4 md:my-0"
        href="/users/sign-out"
      >
        <small>LogOut</small>
      </a>
      <a
        href="/"
        class="my-2 transition-colors duration-300 transform text-gray-200 hover:text-blue-400 md:mx-4 md:my-0"
        ><%= locals.user.name%>
      </a>
      <%}%> <%} else { %>
      <a
        class="my-2 transition-colors duration-300 transform text-gray-200 hover:text-blue-400 md:mx-4 md:my-0"
        href="/users/sign-in"
      >
        Sign-In
      </a>
      <a
        class="my-2 transition-colors duration-300 transform text-gray-200 hover:text-blue-400 md:mx-4 md:my-0"
        href="/users/sign-up"
      >
        Sign-Up
      </a>
      <%}%>
    </div>
  </div>
</nav>
